<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>name</key>
  <string>Panda</string>
  <key>settings</key>
  <array>

    <!-- Global -->
    <dict>
      <key>settings</key>
      <dict>
        <key>background</key>  <string>${PANDA_BG}</string>
        <key>foreground</key>  <string>${PANDA_FG}</string>
        <key>caret</key>       <string>${PANDA_CURSOR}</string>
        <key>selection</key>   <string>${PANDA_SELECTION}</string>
      </dict>
    </dict>

    <!-- Comment -->
    <dict>
      <key>name</key><string>Comment</string>
      <key>scope</key><string>comment</string>
      <key>settings</key>
      <dict>
        <key>foreground</key><string>${PANDA_COMMENT}</string>
        <key>fontStyle</key><string>italic</string>
      </dict>
    </dict>

    <!-- String -->
    <dict>
      <key>name</key><string>String</string>
      <key>scope</key><string>string, string.quoted, string.template</string>
      <key>settings</key>
      <dict><key>foreground</key><string>${PANDA_LIME}</string></dict>
    </dict>

    <!-- String quotes: match string color -->
    <dict>
      <key>name</key><string>String Punctuation</string>
      <key>scope</key><string>punctuation.definition.string</string>
      <key>settings</key>
      <dict><key>foreground</key><string>${PANDA_LIME}</string></dict>
    </dict>

    <!-- Punctuation: grey -->
    <dict>
      <key>name</key><string>Punctuation</string>
      <key>scope</key><string>punctuation</string>
      <key>settings</key>
      <dict><key>foreground</key><string>${PANDA_COMMENT}</string></dict>
    </dict>

    <!-- Parens / brackets / braces -->
    <dict>
      <key>name</key><string>Punctuation</string>
      <key>scope</key><string>punctuation.section, meta.brace</string>
      <key>settings</key>
      <dict><key>foreground</key><string>${PANDA_RED}</string></dict>
    </dict>

    <!-- Keyword: control flow -->
    <dict>
      <key>name</key><string>Keyword</string>
      <key>scope</key><string>keyword.control, keyword.other</string>
      <key>settings</key>
      <dict><key>foreground</key><string>${PANDA_PINK}</string></dict>
    </dict>

    <!-- Storage: declarations (const, let, var, class, function, async) -->
    <dict>
      <key>name</key><string>Storage</string>
      <key>scope</key><string>storage, storage.type, storage.modifier</string>
      <key>settings</key>
      <dict><key>foreground</key><string>${PANDA_LAVENDER}</string></dict>
    </dict>

    <!-- Import / preprocessor -->
    <dict>
      <key>name</key><string>Import</string>
      <key>scope</key><string>meta.preprocessor, keyword.control.import, keyword.control.export, keyword.control.from, keyword.control.use, keyword.other.import</string>
      <key>settings</key>
      <dict><key>foreground</key><string>${PANDA_CYAN}</string></dict>
    </dict>

    <!-- Operator -->
    <dict>
      <key>name</key><string>Operator</string>
      <key>scope</key><string>keyword.operator</string>
      <key>settings</key>
      <dict><key>foreground</key><string>${PANDA_LIGHT_ORANGE}</string></dict>
    </dict>

    <!-- Function name -->
    <dict>
      <key>name</key><string>Function</string>
      <key>scope</key><string>entity.name.function, meta.function-call, support.function, variable.function</string>
      <key>settings</key>
      <dict><key>foreground</key><string>${PANDA_BLUE}</string></dict>
    </dict>

    <!-- Class / Type -->
    <dict>
      <key>name</key><string>Class, Type</string>
      <key>scope</key><string>entity.name.class, entity.name.type, support.class, support.type</string>
      <key>settings</key>
      <dict><key>foreground</key><string>${PANDA_PURPLE}</string></dict>
    </dict>

    <!-- Tag -->
    <dict>
      <key>name</key><string>Tag</string>
      <key>scope</key><string>entity.name.tag</string>
      <key>settings</key>
      <dict><key>foreground</key><string>${PANDA_PURPLE}</string></dict>
    </dict>

    <!-- Attribute name -->
    <dict>
      <key>name</key><string>Attribute</string>
      <key>scope</key><string>entity.other.attribute-name</string>
      <key>settings</key>
      <dict><key>foreground</key><string>${PANDA_PINK}</string></dict>
    </dict>

    <!-- Constant / Number -->
    <dict>
      <key>name</key><string>Constant</string>
      <key>scope</key><string>constant.numeric, constant.language, constant.other</string>
      <key>settings</key>
      <dict><key>foreground</key><string>${PANDA_ORANGE}</string></dict>
    </dict>

    <!-- Variable -->
    <dict>
      <key>name</key><string>Variable</string>
      <key>scope</key><string>variable, variable.other</string>
      <key>settings</key>
      <dict><key>foreground</key><string>${PANDA_LIGHT_ORANGE}</string></dict>
    </dict>

    <!-- Language variable (this, self, super) -->
    <dict>
      <key>name</key><string>Language Variable</string>
      <key>scope</key><string>variable.language</string>
      <key>settings</key>
      <dict><key>foreground</key><string>${PANDA_BLUE}</string></dict>
    </dict>

    <!-- Escape sequence -->
    <dict>
      <key>name</key><string>Escape</string>
      <key>scope</key><string>constant.character.escape, string.regexp</string>
      <key>settings</key>
      <dict><key>foreground</key><string>${PANDA_LIGHT_BLUE}</string></dict>
    </dict>

  </array>
  <key>uuid</key>
  <string>ae1a7f00-b2ad-4e52-b3af-26e9e6583867</string>
</dict>
</plist>
